<section class="header">
    <h3 class="header__title">Calc</h3>
    <div class="header__theme">
        <p class="header__text">Theme</p>
        <div class="header__toggle">
            <div class="header__wraper">
                <span class="header__num">1</span>
                <span class="header__num">2</span>
                <span class="header__num">3</span>
            </div>
            <div class="header__switch">
                <input class="header__checkbox--1" type="radio">
                <input class="header__checkbox--2" type="radio">
                <input class="header__checkbox--3" type="radio">
            </div>
        </div>    
    </div>
</section>