<section class="header">
    <h3 class="header__title">Calc</h3>
    <div class="header__theme">
        <p class="header__text">Theme</p>
        <div class="header__toggle">
            <div class="header__wraper">
                <span class="header__num">1</span>
                <span class="header__num">2</span>
                <span class="header__num">3</span>
            </div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>    
    </div>
</section>