<div class="keyboard">
    <ul class="keyboard__list">
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="7"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="8"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="9"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="Del"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="4"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="5"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="6"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="+"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="1"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="2"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="3"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="-"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="."></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="0"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="/"></li>
        <li class="keyboard__key"><input class="keyboard__btn" type="button" value="x"></li>
        <li class="keyboard__key--expand1"><input class="keyboard__btn--expand1" type="button" value="Reset"></li>
        <li class="keyboard__key--expand2"><input class="keyboard__btn--expand2" type="button" value="="></li>
    </ul>
</div>