<div class="keyboard">
    <div class="keyboard__list">
        <button class="keyboard__key" onclick="addNumber(7)">7</button>
        <button class="keyboard__key" onclick="addNumber(8)">8</button>
        <button class="keyboard__key" onclick="addNumber(9)">9</button>
        <button class="keyboard__key--clean" onclick="clean()">Del</button>
        <button class="keyboard__key" onclick="addNumber(4)">4</button>
        <button class="keyboard__key" onclick="addNumber(5)">5</button>
        <button class="keyboard__key" onclick="addNumber(6)">6</button>
        <button class="keyboard__key" onclick="operate('+')">+</button>
        <button class="keyboard__key" onclick="addNumber(1)">1</button>
        <button class="keyboard__key" onclick="addNumber(2)">2</button>
        <button class="keyboard__key" onclick="addNumber(3)">3</button>
        <button class="keyboard__key" onclick="operate('-')">-</button>
        <button class="keyboard__key" onclick="addNumber('.')">.</button>
        <button class="keyboard__key" onclick="addNumber(0)">0</button>
        <button class="keyboard__key" onclick="operate('/')">/</button>
        <button class="keyboard__key" onclick="operate('*')">x</button>
        <button class="keyboard__key--expand1" onclick="reset()">Reset</button>
        <button class="keyboard__key--expand2" onclick="calculate()">=</button>
    </div>
</div>
