.footer { 
    height: 5%;
    font-size: 11px; 
    text-align: center;

    &__link { 
        color: $text-white;
        text-decoration: none;
    }
}

@media all and (min-width: 768px){
    .footer{
        font-size: 15px; 
    }
}
