.screen{
    width: 310px;
    height: 75px;
    border-radius: 10px;
    background-color: $one-screen-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;

    &__operations{
        border: 0;
        outline: none;
        background-color: $one-screen-background;
        text-align: right;
        height: 32px;
        width: 290px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: $font-size-num;
        font-weight: 700;
        color: $text-white;
    }
}