@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/screen';
@import 'layout/keyboard';
@import 'layout/footer';

body{
    height: 100vh;
    font-family: $main-font;
}

//// Toggle class
.dark{
    background-color: $one-main-background;
    transition: .3s ease all;
}

.light{
    background-color: $two-main-background;
    transition: .3s ease all;
}

.colorful{
    background-color: $three-main-background;
    transition: .3s ease all;
}

.main{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.calc{
    width: 100vw;
}

// MEDIAQUERIES 

@media all and (min-width: 768px){
    .calc{
        width: 400px;
    }
}
 